.error-input-message {
    width: 100%;
    margin-top: 0.5rem;
    font-size: 0.95rem;
    color: #b02a37;
}

.my-table thead {
    background: #f9f9f9 !important;
}

.my-table thead tr th:first-child {
    border-top-left-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
}

.my-table thead tr th:last-child {
    border-top-right-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
}

.my-table thead th:first-child {
    padding-left: 1rem !important;
}

.my-table thead th:last-child {
    padding-right: 1rem !important;
}

.my-card {
    border-radius: 1.2rem !important;
}

.my-card .card-header,
.my-card .card-body {
    padding: 1rem 1.5rem;
}

.search-datatable:focus {
    background: #fff !important;
}

.my-tabs-datatable {
    background: #F9F9F9;
    padding: 5px 10px;
    border-radius: 0.75rem;
    margin-right: 11px;
    outline: none;
}

ul.my-tabs-datatable li.nav-item a.nav-link {
    border-radius: .5rem !important;
    padding: 5px 10px !important;
    margin-right: 0 !important;
}

ul.my-tabs-datatable li.nav-item a.nav-link.active {
    border-bottom: 0 !important;
    background: #ffffff !important;
    font-weight: 500 !important;
    color: #5198ff !important;
    border: 1px solid #5198ff !important
}

ul.my-tabs-datatable li.nav-item:hover a.nav-link {
    background: #ffffff !important;
}
